/* reset CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Public Sans", sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  background: linear-gradient(
    180deg,
    #ffffff1f 100vh,
    #b49081 200vh,
    #975e5e 300vh,
    #75413b 400vh,
    #5f292d 500vh
  );
}
section,
header,
footer {
  position: relative;
  z-index: 1;
}
img {
  border-radius: 16px;
}
/* css header */
header {
  padding: 20px 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #fff; */
  background-color: #5f2929e8;
  box-shadow: 0px 0px 2px 0px rgba(145, 158, 171, 0.2),
    0px 12px 24px -4px rgba(145, 158, 171, 0.12);
  position: sticky;
  top: 0;
  z-index: 100000;
}

.header-container__left {
  display: flex;
  align-items: center;
}
.header-container__right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav {
  margin-right: 20px;
}
ul.list {
  list-style: none; /* Remove bullet points */
  display: flex; /* Align list items horizontally */
  margin: 0;
}
ul.list li {
  text-align: center;
  border-bottom: 2px solid transparent; /* Add a bottom border on hover */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
ul.list li a {
  text-decoration: none; /* Remove underline from links */
  color: #fff; /* Dark text color */
  font-size: 20px;
  text-align: center;
}
ul.list li:hover {
  color: #fff; /* Change color on hover */
  border-bottom: 2px solid #fff; /* Add a bottom border on hover */
}

.header-container__left--logo {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 8px;
}
.header-container__left--name {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  color: #fff;
}
.header-container__right--lets-talk {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 48px;
  border-radius: 12px;
  /* background-color: #fca61e; */
  text-decoration: none;

  color: #fff;
  font-size: 15px;
  line-height: 26px;
  font-weight: 600;
}
.list {
  display: flex;
}
.header-container__right--lets-talk span {
  margin-right: 8px;
}

.creative-works-card {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  margin-top: 32px;
  justify-content: center;
}
/* css intro */
#intro {
  padding: 64px 64px;
  display: flex;
  align-items: center;
  gap: 6vmin;
  position: relative;
}

#particles-js {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.intro__content {
  flex: 1;
  order: 1;
}

.intro__image img {
  max-height: calc(100vh - 128px - 64px);
}
.intro__content-greeting {
  color: #000;
  font-size: 52px;
  font-weight: 600;
  line-height: 68px;
  display: inline-block;
}

.intro__content h1 {
  color: #5f2c29;
  font-size: 85px;
  font-style: normal;
  font-weight: 800;
  line-height: 100px; /* 117.647% */
  margin-bottom: 24px;
  display: inline-block;
}
.intro__content-subtitle {
  color: #7d644c;
  font-size: 22px;
  font-weight: 400;
  line-height: 34px; /* 154.545% */
  display: block;
  flex: 1;
}
.intro__content-button-contact-me {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: fit-content;
  padding: 0 12px;
  border-radius: 12px;
  /* background-color: #399918; */
  text-decoration: none;

  color: #fff;
  font-size: 15px;
  line-height: 26px;
  font-weight: 600;
  margin-top: 32px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
/* css about-me */
#about-me {
  padding: 85px 110px;
  justify-content: center;
  align-items: center;
  /* background: linear-gradient(180deg, #fff 0%, #8f6be3 100%); */
}
.about-me__content {
  flex: 2;
  order: -1;
  justify-content: center;
}
.about-me__content h2 {
  font-size: 48px;
  font-weight: 800;
  line-height: 64px;
}
.about-me__content--title-text-1 {
  color: #b40000;
}
.about-me__content--title-text-2 {
  color: #fca61e;
}
.about-me__content--description {
  color: #637381;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 16px;
  text-align: justify;
}
.about-me__content--info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 32px 0;
}
.about-me__content--info-item {
  display: flex;
  gap: 12px;
  align-items: center;
}
.about-me__content--info-item span {
  color: #637381;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}
.about-me__content--info-item b {
  color: #212b36;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}

.about-me__content--social-network {
  display: flex;
  gap: 16px;
}
.about-me__content--social-network a {
  font-size: 32px;
  color: #637381;
}
.about-me__content button {
  width: 64px;
  height: 48px;
  border-radius: 12px;
  /* background-color: #295f2d; */
  color: #fff;
  font-size: 15px;
  line-height: 26px;
  font-weight: 600;
  margin-top: 24px;
}
.about-me__image {
  flex: 1;
  max-width: 490px;
  align-self: center;
  float: right;
  width: 300px;
  margin-left: 36px;
}
.about-me__image img {
  width: 100%;
  height: 100%;
}

.intro__content--social-network {
  margin-top: 32px;
  display: flex;
  gap: 16px;
}
.intro__content--social-network a {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  font-size: 36px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #500404;
  background-color: #fff;
  outline: 2px solid #5f2929;
  transition: all 0.3s;
}
.intro__content--social-network a:hover {
  color: #fff;
  background-color: #5f2929;
}
/* achievements */

#achievements {
  padding: 128px 0;
  /* background-color: #fff; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.achievements__subtitle {
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
  color: #ffffff;
}

.achievements_header {
  font-size: 48px;
  line-height: 64px;
  color: #000000;
}

.achievements__certificate-score {
  display: flex;
  gap: 32px;
  margin-top: 32px;
  flex-wrap: wrap;
  justify-content: center;
}

.achievements__certificate-score--item {
  width: fit-content;
  height: 78px;
  width: min(90%, 450px);
  border-radius: 16px;
  color: #161616;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding: 0 32px;
  font-size: 20px;
  line-height: 30px;
  border: 2px solid #c01515;
  background-color: #fff;
}

/* my-preferences */

#my-preferences {
  padding: 64px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* background: linear-gradient(180deg, #fff 0%, #295f2d 50%, #295f2d 100%); */
}
.my-preferences__image {
  display: flex;
  gap: 32px;
  float: right;
  margin-left: 32px;
}
.my-preferences__image img {
  width: 200px;
  height: 200px;
  border-radius: 16px;
}
.my-preferences__image-box-left {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.my-preferences__image-box-right {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 32px;
}

.my-preferences__content--intro {
  color: #ffffff;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px; /* 150% */
}
.my-preferences__content--title {
  color: #212b36;
  font-size: 40px;
  font-weight: 800;
  line-height: 64px;
  margin-top: 8px;
}

.my-preferences__content--description {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 24px;
  text-align: justify;
}

/* creative-works */

#creative-works {
  padding: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* background-color: #fff; */
  /* background: linear-gradient(180deg, #295f2d 40%, #fff 100%); */
}
.creative-works--intro {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
}

.creative-works--title {
  color: #fff;
  font-size: 48px;
  font-weight: 800;
  line-height: 64px;
  margin-top: 8px;
}

.creative-works--art-portfolio {
  display: flex;
  gap: 32px;
  margin: 48px 0;
}

.creative-works--art-portfolio-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 16px;
}

.creative-works--art-portfolio-item img {
  width: 400px;
  height: 450px;
  margin: auto;
}
.creative-works--art-portfolio-item-date {
  color: #637381;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}
.creative-works--art-portfolio-item-name {
  color: #212b36;
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
}
.creative-works--art-portfolio-item-description {
  color: #637381;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}
.creative-works--description {
  color: #5f2929;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  max-width: 688px;
}

/* footer */
#footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #fff !important ;
}
.footer__content {
  padding: 64px 0;
}
.footer__content--logo {
  width: 100px;
  height: 100px;
  border-radius: 60%;
}

.footer__content--name {
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  margin-top: 12px;
}

.footer__content--contact i {
  color: #ffffff;
}
.footer__content--contact {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 32px;
  font-size: 32px;
}

.footer__copy-right {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #fff;
  /* background-color: #295f2d; */
  padding: 22px 0;
  border-top: 1px solid #fff;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 0;
  height: 100vh;
}

.bubbles {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;
  top: 0;
  left: 0;
}
.bubble {
  position: absolute;
  bottom: -100px;
  width: 40px;
  height: 40px;
  background: #f1f1f1;
  border-radius: 50%;
  opacity: 0.5;
  animation: rise 10s infinite ease-in;
}
.bubble:nth-child(1) {
  width: 40px;
  height: 40px;
  left: 10%;
  animation-duration: 8s;
}
.bubble:nth-child(2) {
  width: 20px;
  height: 20px;
  left: 20%;
  animation-duration: 5s;
  animation-delay: 1s;
}
.bubble:nth-child(3) {
  width: 50px;
  height: 50px;
  left: 35%;
  animation-duration: 7s;
  animation-delay: 2s;
}
.bubble:nth-child(4) {
  width: 80px;
  height: 80px;
  left: 50%;
  animation-duration: 11s;
  animation-delay: 0s;
}
.bubble:nth-child(5) {
  width: 35px;
  height: 35px;
  left: 55%;
  animation-duration: 6s;
  animation-delay: 1s;
}
.bubble:nth-child(6) {
  width: 45px;
  height: 45px;
  left: 65%;
  animation-duration: 8s;
  animation-delay: 3s;
}
.bubble:nth-child(7) {
  width: 90px;
  height: 90px;
  left: 70%;
  animation-duration: 12s;
  animation-delay: 2s;
}
.bubble:nth-child(8) {
  width: 25px;
  height: 25px;
  left: 80%;
  animation-duration: 6s;
  animation-delay: 2s;
}
.bubble:nth-child(9) {
  width: 15px;
  height: 15px;
  left: 70%;
  animation-duration: 5s;
  animation-delay: 1s;
}
.bubble:nth-child(10) {
  width: 90px;
  height: 90px;
  left: 25%;
  animation-duration: 10s;
  animation-delay: 4s;
}
@keyframes rise {
  0% {
    bottom: -100px;
    transform: translateX(0);
  }
  50% {
    transform: translate(100px);
  }
  100% {
    bottom: 1080px;
    transform: translateX(-200px);
  }
}
